# Environment
NODE_ENV=development

# Database Configuration
DB_TYPE=postgres                  # Type de base de données (postgres, mysql, etc.)
DB_HOST=test_host                        # Nom du service dans docker-compose ou localhost en local
DB_PORT=5432                      # Port par défaut de PostgreSQL
DB_USERNAME=test_user              # Nom d'utilisateur de la base de données
DB_PASSWORD=test_password              # Mot de passe de la base de données
DB_DATABASE=test_bdd              # Nom de la base de données

# Discord OAuth2
DISCORD_CLIENT_ID=your_discord_client_id
DISCORD_CLIENT_SECRET=your_discord_client_secret
DISCORD_REDIRECT_URI=http://localhost:3000/auth/callback
DISCORD_API_ENDPOINT=https://discord.com/api/v10
ALLOWED_GUILD_ID=your_guild_id

# Discord Bot Token
DISCORD_BOT_TOKEN=your_discord_bot_token

# Frontend URL
FRONTEND_URL=http://localhost:3000

# JWT Configuration
JWT_SECRET=your_secure_jwt_secret
JWT_EXPIRATION=24h

# Note: Ce fichier sert d'exemple. Copiez-le en tant que .env.development et modifiez les valeurs selon votre environnement.